SOME CODE WILL BE SITUATED JUST OVER THERE BITZHCHWHW

In [2]:
print("Hello world!")

Hello world!

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
from pylab import rcParams
rcParams['figure.figsize'] = 25, 15

In [5]:
data_df = pd.read_csv("data.csv", parse_dates = ["Start Time","End Time"], date_parser=pd.to_datetime)

C:\Users\grygr\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
for column in data_df:
    print(column, ':', data_df[column].dtype)

Trip ID : int64
Duration : int64
Start Time : datetime64[ns]
End Time : datetime64[ns]
Starting Station ID : float64
Starting Station Latitude : float64
Starting Station Longitude : float64
Ending Station ID : float64
Ending Station Latitude : float64
Ending Station Longitude : float64
Bike ID : float64
Plan Duration : float64
Trip Route Category : object
Passholder Type : object
Starting Lat-Long : object
Ending Lat-Long : object

In [7]:
data_df.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
0,1912818,180,2016-07-07 04:17:00,2016-07-07 04:20:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
1,1919661,1980,2016-07-07 06:00:00,2016-07-07 06:33:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
2,1933383,300,2016-07-07 10:32:00,2016-07-07 10:37:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."
3,1944197,10860,2016-07-07 10:37:00,2016-07-07 13:38:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."
4,1940317,420,2016-07-07 12:51:00,2016-07-07 12:58:00,3032.0,34.049889,-118.25588,3032.0,34.049889,-118.25588,6674.0,0.0,Round Trip,Walk-up,"{'longitude': '-118.25588', 'latitude': '34.04...","{'longitude': '-118.25588', 'latitude': '34.04..."

In [12]:
for column_name in data_df.columns:
    column = data_df[column_name]
    nans = column[pd.isnull(column)]
    print(column_name, len(nans))

Trip ID 0
Duration 0
Start Time 0
End Time 0
Starting Station ID 19
Starting Station Latitude 48
Starting Station Longitude 48
Ending Station ID 96
Ending Station Latitude 1051
Ending Station Longitude 1051
Bike ID 10
Plan Duration 766
Trip Route Category 0
Passholder Type 0
Starting Lat-Long 33805
Ending Lat-Long 1051

In [24]:
types = np.unique(data_df.agg('Passholder Type'))

print(min(((typ, len(data_df[data_df['Passholder Type']==typ])) for typ in types), key=lambda e: e[1]))

('Staff Annual', 382)

In [25]:
data_df['Path lenght'] = data_df['End Time'] - data_df['Start Time']

In [33]:
sort_data = data_df['Path lenght'].sort_values()
print("min time:",sort_data.head(1))
print("max time:",sort_data.tail(1))
print("mean time:", data_df['Path lenght'].mean())

min time: 65687   00:01:00
Name: Path lenght, dtype: timedelta64[ns]
max time: 23475   5 days 16:28:00
Name: Path lenght, dtype: timedelta64[ns]
mean time: 0 days 00:28:11.324276

In [50]:
len(data_df[data_df['Starting Station ID'] == 3000.0])

c:\program files (x86)\python37-32\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0

In [52]:
len(data_df[pd.isnull(data_df["Starting Station ID"])])

19

In [53]:
19+29

48